body {
    background-color: black;
    font-family: loveloline_light;
    color: rgb(204, 204, 0)
}


header > p {
    text-align: center;
}

section {
    border: 1px solid white;
}

h1 {
    color: white;
    text-align: center;
    font-family: fantasy;
}

h2 {
    text-align: center;
}

#aslan {
    text-align: center;
}

#about {
    
}

#beer {
    
}

#map {
    
}